@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
    font-family: Helvetica85;
    src: url(font/helvetica-85-heavy.otf);
}
@font-face {
    font-family: Helvetica93;
    src: url(font/helvetica-93-black-extended.otf);
}
body {
    background-color: #030303;
    margin: 0;
    padding: 0;
    border: 0;
}

#up-nav {
    background-color: #030303;
    color: #030303;
    -webkit-text-stroke: 0.022rem #49FF00;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.15rem solid #49FF00;
}

#nav-h1 {
    display: flex;
    float: right;
    font-size: 7.25rem;
    transform: translate(-31.25rem, -2.813rem);
}

#logo-header {
    height: 8rem;
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

/************* BOTTOM NAV ************/

#button-nav {
    background-color: #030303;
    transform: translate(-5rem, 0.75rem);
    border: none;
}

#img-button-nav {
    height: 3rem;
    width: auto;
}

/* #box {
    border: 0.15rem solid #49FF00;
    border-width: 2rem;
    height: ;
    border-radius: 1.5rem;
    margin-left: 16rem;
} */

#search-box {
    background-color: #030303;
    border-color: #030303;
    height: 4.5rem;
    width: 56rem;
    border-radius: 0.5rem;
    color: #49FF00;
    font-size: 1.5rem;
    border-left: 0.15rem solid #49FF00;
    border-bottom: 0.15rem solid #49FF00;
    border-top: 0.15rem solid #49FF00;
    border-right: 0.15rem solid #49FF00;
    border-radius: 1.5rem;
    margin-left: 17rem;
    font-family: 'Roboto Mono', monospace;
    padding-left: 3rem ;
}

#search-box::placeholder {
    color:#48ff0065;
}

#menu-icon {
    height: 6rem;
    width: auto;
    transform: translate(4.8rem, 5.8rem);
}

/********* MAIN TOPICS **********/
 
#h1-main {
    color: #49FF00;
    font-weight: bolder;
    font-family: Helvetica93, monospace;
    font-size: 3.5rem;
    padding: 5.5rem 0 0 9rem;
    display: flex;
}

#line-1 {
    background-color: #49FF00;
    height: 0.1rem;
    width: 31rem;
    transform: translate(9rem, -2rem);
    display: flex;
}

#line-2{
    background-color:#49FF00;
    height: 0.1rem;
    width: 4.5rem;
    display: block;
    transform: rotate(90deg);
    float: right;
    margin-right: 56rem;
    margin-top: -2rem;
} 

#notice-1 {
    transform: translate(0, 8rem);
}

#img-notice-1 {
    border: 0.1rem solid #49FF00;
    height: auto;
    width: 1000px;
    border-radius: 4rem;
    margin-left: 200px;
}

#notice-1-h1 {
    transform: translate(20rem, 0);
    font-family: Helvetica93;
    color: #49FF00;
    font-size: 2.5rem;

}

#notice-1-p {
    color: #CCFFB7;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    width: 50rem;
    margin-left: 20rem;
    text-align: center;
}

#line-3 {
    width: 78rem;
    height: 0.1rem;
    background-color: #49FF00;
    transform: translate(10rem, 14rem);
}

#notice-2 {
    width: 90%;
    height: auto;
    padding-top: 10rem;
    color: #49FF00;
    transform: translate(3rem, 11rem);
}

#notice-img-2 {
    border: 0.1rem solid #49FF00;
    border-radius: 4rem;
    width: 600px;
    height: auto;
}

#notice-h1-2 {
    font-family: 'Helvetica93';
    font-size: 1.9rem;
    margin-left: 5rem;
}

#notice-p-2 {
    font-family: 'Roboto Mono', monospace;
    color: #CCFFB7;
    width: 30rem;
    text-align: center;
    margin-left: 4rem;
}

#notice-3 {
    width: 90%;
    height: auto;
    transform: translate(51rem, -24rem);
}

#notice-img-3 {
    border-radius: 4rem;
    border: 0.1rem solid #49FF00;
    width: 40rem;

}

#h1-notice-3 {
    font-family: 'Helvetica93';
    font-size: 1.9rem;
    color: #49FF00;
    margin-left: 15rem;
}

#p-notice-3 {
    font-family: 'Roboto Mono', monospace;
    color: #CCFFB7;
    text-align: center;
    width: 30rem;
    margin-left: 6rem;
}

#notice-4 {
    color: #49FF00;
}

#img-notice-4 {
    width: 65rem;
    height: auto;
    border-radius: 4rem;
    border: 0.1rem solid #49FF00;
    transform: translate(14rem, -34rem);
}

#h1-notice-4 {
    font-family: Helvetica93;
    margin-top: -30rem;
    font-size: 1.9rem;
    margin-left: 25rem;
}

#p-notice-4 {
    color: #CCFFB7;
    font-family: 'Roboto Mono', monospace;
    width: 50rem;
    text-align: center;
    padding-left: 20rem;
    font-size: 1rem;
    padding-bottom: 4rem;
}

#line-5 {
    width: 0.1rem;
    height: 80rem;
    background-color:#49FF00;
    margin-left: 46rem;
    margin-top: -61rem;
    transform:rotate(270deg);
}

/******** FOOTER  *********/

#footer {
    background-color: #49FF00;
    font-family: 'Roboto Mono', monospace;
}

#logo-footer {
    height: 10rem;
    width: auto;
    padding-top: 4rem;
    padding-left: 40rem;
}

#p-footer {
    font-family: 'Helvetica85';
    font-size: 1.01rem;
    padding-top: 0.5rem;
    padding-left: 39rem;
}

#info-ul {
    display: flex;
    float: left;
    list-style-type: none;
    padding-left: 22rem;
    padding-top: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;

}

a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
}

#item-1 {
    
}
#item-2{
    transform: translate(7rem, 0);
}

#item-3 {
    transform: translate(5rem, 0rem);
}

#logo-ul {
    
}